@font-face {
    font-family: Coolvetica;
    src: url('coolvetica.ttf'),
         url('coolvetica.eot');
}

@font-face {
    font-family: HelveticaNueueLight;
    src: url('HelveticaNeueLTPro-Lt.otf');
}

@font-face {
    font-family: HelveticaNueueRegular;
    src: url('HelveticaNeueLTPro-Roman.otf');
}

body {
    text-align: center;
    margin: 0 auto;
/*    margin-bottom: 100px;*/
}


/*-----------------------------------------------------*/
/* Icons                                                                                          */
    .icons_row, .icons_column {
        background-color: rgba(70,70,70, 0.2); /* use rgba here */-

        -webkit-border-bottom-right-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-radius-bottomright: 7px;
        -moz-border-radius-bottomleft: 7px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    /*-----------------------------------------------------*/
    /* Rows                                                                                          */
    .horizontal_bar {
        top:-55px;
        position:fixed;
        width: 100%;
        height:50px;
        z-index: 1
    }

    .icons_row {
        position:fixed;
        display:inline-block;
        margin: 0 auto;
    
        padding-bottom:9px;
    }

    .social_scale_row {
        display:inline-block;
        margin-top:7px;
        margin-left:12px;
        margin-right:12px;
    
        width:35px;
        height: 35px;
    }

    /*-----------------------------------------------------*/
    /* Columns                                                                                          */
    
    .icons_column {
        top: -153px;    
        
        position: fixed;
        right: 0;
        margin-right:5%;
        padding-bottom:9px;
    
    }

    .social_scale_col {    
        margin-top:13px;
        margin-left:12px;
        margin-right:12px;
    
        width:35px;
        height: 35px;
    }
    
    /*-----------------------------------------------------*/
    /* Individual                                                                                     */
    
    #fb_social_scale {
        width: 35px;
        height: 35px;
    }

    #gmail, #facebook, #twitter {
        margin: 0 auto;
        text-align:center;
        background-repeat:no-repeat;
        background-size: 100%;
        width:100%;
        height: 100%;
    }

    #gmail              {background-image:url('../img/gmail_social.png');}
    #gmail:hover {background-image:url('../img/gmail_social_active.png');}

    #facebook             {background-image:url('../img/facebook_social.png');}
    #facebook:hover {background-image:url('../img/facebook_social_active.png');}

    #twitter              {background-image:url('../img/twitter_social.png');}
    #twitter:hover {background-image:url('../img/twitter_social_active.png');}

    #gmail, #facebook, #twitter {
/*        opacity:.95;
        filter:alpha(opacity=95) !important; /* For IE8 and earlier */
*/    }

    #gmail:hover, #facebook:hover, #twitter:hover {
        opacity:1 !important;
        filter:alpha(opacity=100) !important; /* For IE8 and earlier */
    }

/*-----------------------------------------------------*/
/* top */

.blue {
    color: #0060D5;
    text-shadow: 0 0 0.1em #AAA
}

.red {
    color: #D80000;
    text-shadow: 0 0 0.1em #BEBEBE

}

.subtext {
    margin-top: 50px;
}

.subtext h3 {
    margin-top:7px;
    font-weight: 300;
    color: #5C5C5C;
}

.tagline, .date {
    font-size: 22px;
    font-weight: 400;
    font-family: "Lato";
}

.upenn {
    color: #5C5C5C;
}
.upenn:visited {
  color: #5C5C5C;
}
.upenn:hover {
  color: #06E;
}

.signup {
    margin-top:40px;
}

.row .date, .image_block {
    display:inline-block;
}

.image_block {
    margin-left:6px;
    background-repeat:no-repeat;
    width:23px;
    height: 25px;
    
    background-image:url('../img/calendar.png');
}

.image_block:hover {
    cursor: pointer;
    background-image:url('../img/calendar_red.png');  
}

.about {
    margin-top: 40px;
  font-family: "HelveticaNueueLight";
  line-height: 1.4;
  font-weight: 300;
  font-size:19px;
  color: #8C8C8C;
}

.bold {
    font-family: "HelveticaNueueRegular";
    color: #555;
}
.dark {
    color: #555;
}
a.dark:hover {
  color: #08C;
}

.video {
    cursor: pointer;
}


#video_image {
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.circle {    
    margin: 0 auto;
    width: 205px;
    height: 205px;
    border-radius: 50%;
        
    /*http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html*/
    background-image: -ms-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
    background-image: -moz-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
    background-image: -o-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #A92929), color-stop(2, #D20000));
    background-image: linear-gradient(to top left, #B62F2F 0%, #B67042 200%);
    
/*    -webkit-transition: box-shadow 0.2s linear;
       -moz-transition: box-shadow 0.2s linear;
          -ms-transition: box-shadow 0.2s linear;
           -o-transition: box-shadow 0.2s linear;
                transition: box-shadow 0.2s linear;
*/
}

.circle:hover {
    cursor: pointer;
     -moz-box-shadow: 0px 0px 25px #B62F2F;
  -webkit-box-shadow: 0px 0px 25px #B62F2F;
          box-shadow: 0px 0px 25px #B62F2F;

}

.square {
    padding-bottom:90px
}


#signup_now {
    padding-top: 85px;
    color:white;
    font-family: "Coolvetica";
    font-weight: 300;
    font-size: 33px;
    letter-spacing:1px
}

.egg {
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    padding: 16px;
    position: fixed;
    background-image:url('../img/egg_light.png');
    opacity:0.5;
    filter:alpha(opacity=50); /* For IE8 and earlier */
}

.egg:hover {
    background-image:url('../img/egg.png');
}

#preload {
    display: none;
}

.left {
    opacity:1 !important;
    filter:alpha(opacity=100) !important; /* For IE8 and earlier */
}

.love {
    font-family: 'Handlee', cursive;
    margin-top:100px;
    margin-bottom:20px;
    color: #505050;
}
#previous_sponsors {
    margin-top:130px;
}

.prev-container {
    
/*  width: 60%;*/
  margin: 0 auto;
  margin-top: 50px;
    min-width: 350px;
    max-width:700px;
}
.heading h2 {
  text-align:center;
  border-bottom: 1px solid #bbb;
  border-style: dashed;
  line-height:0.1em;
  margin:10px 0 20px;
    
    margin-top:110px;
    margin-bottom:80px;

}
.heading span {
  font-family: "Lato", sans-serif;
    font-size: 23px;
  color: #fff;
  font-weight: 300;
  padding: 11px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #BFBDBD;
  border-radius:5px;

    -webkit-box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 3px 8px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 3px 8px rgba(50, 50, 50, 0.25);
}

.sponsor {
  /* set height and width here */
  width: 100%;
  height: 120px;
  /* everything else is taken care of */
  display: inline-block;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  background-size: 70%;
}

.sponsor:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
.no-opacity {
  opacity: 1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  height: 60px;
  -webkit-transition: box-shadow 0.2s linear;
       -moz-transition: box-shadow 0.2s linear;
          -ms-transition: box-shadow 0.2s linear;
           -o-transition: box-shadow 0.2s linear;
                transition: box-shadow 0.2s linear;
}
.no-opacity:hover {
     -moz-box-shadow: 0px 0px 25px #B62F2F;
  -webkit-box-shadow: 0px 0px 25px #B62F2F;
          box-shadow: 0px 0px 25px #B62F2F;
}

.pennapps_container {
    margin: 0 auto;
    width: 630px;
    height: 85px;
    margin-top:30px;
    border-radius:5px;
    background-color: #fff;
    cursor: pointer;
}

.pennapps:hover {
    cursor: pointer;
    color: #FFFFFF;
/*    background-color: #EEEEEE;*/
}

.left {
    border-radius:5px;
    padding-top:17px;
    padding-left:17px;
    padding-right:35px;
        pointer-events: none;    
    float: left;
    color: #636363;
    height: 75px;
}

.right {
    margin-left:170px;
/*    background-color: green;*/
    padding-top:92px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #EEEEEE;
}

.season {
    font-family: 'Lato', sans-serif;    
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -2px;
    
}
.year {
    padding-left:8px;
    font-family: 'Coolvetica', sans-serif;    
    font-weight: 300;
    font-size: 30px;
}

/*#Spring2012, #Fall2011, #Spring2011, #Fall2010, #Fall2009 {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
*/
#Spring2012             {background-position: 20px}
#Spring2012:hover > .left {color:white}

#Fall2011             {background-position: 54px}

#Spring2011             {background-position: 105px}
#Spring2011:hover > .left {color:white}


#Fall2010             {background-position: 73px}

#Fall2009             {background-position: -20px}
#Fall2009:hover > .left {color:white}
