.prev-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.heading h2 {
  text-align:center;
  border-bottom: 1px solid #bbb;
  border-style: dashed;
  line-height:0.1em;
  margin:10px 0 20px;
}
.heading span {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 300;
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #424242;
  border-radius:5px;
}
.sponsors {
  margin-top: 40px;
}
.sponsor {
  /* set height and width here */
  width: 220px;
  height: 110px;
  /* everything else is taken care of */
  display: inline-block;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  background-size: 70%;
}
.sponsor:hover {
  /* background-color: #222; */
}
.square {
	padding-bottom:90px
}
