.prev-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.heading h2 {
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
}
.heading span {
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #eee;
  border-radius:10px;
  border: 1px solid #000;
}
.sponsors {
  margin-top: 40px;
}
.sponsor {
  /* set height and width here */
  width: 150px;
  height: 80px;
  /* everything else is taken care of */
  display: inline-block;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  background-size: 90%;
}
.sponsor:hover {
  background-color: #222;
}
.square {
	padding-bottom:90px
}
