.hide {
	display:none;
}

@font-face {
	font-family: Coolvetica;
	src: url('coolvetica.ttf'),
	     url('coolvetica.eot');
}

body {
	text-align: center;
	background-image: url(../img/noise.png);
	margin: 0 auto;
/*	margin-bottom: 100px;*/
}

::selection {
	background: #70CBE2; /* Safari */
	}
::-moz-selection {
	background: #70CBE2; /* Firefox */
}


/*-----------------------------------------------------*/
/* Icons 																						 */
	.icons_row, .icons_column {
		background-color: rgba(70,70,70, 0.2); /* use rgba here */-

		-webkit-border-bottom-right-radius: 7px;
		-webkit-border-bottom-left-radius: 7px;
		-moz-border-radius-bottomright: 7px;
		-moz-border-radius-bottomleft: 7px;
		border-bottom-right-radius: 7px;
		border-bottom-left-radius: 7px;
	}

	/*-----------------------------------------------------*/
	/* Rows 																						 */
	.horizontal_bar {
		top:-55px;
		position:fixed;
		width: 100%;
		height:50px;
	}

	.icons_row {
		position:fixed;
		display:inline-block;
		margin: 0 auto;
	
		padding-bottom:9px;
	}

	.social_scale_row {
		display:inline-block;
		margin-top:7px;
		margin-left:12px;
		margin-right:12px;
	
		width:35px;
		height: 35px;
	}

	/*-----------------------------------------------------*/
	/* Columns 																						 */
	
	.icons_column {
		top: -153px;	
		
		position: fixed;
		right: 0;
		margin-right:30px;
		padding-bottom:9px;
	
	}

	.social_scale_col {	
		margin-top:13px;
		margin-left:12px;
		margin-right:12px;
	
		width:35px;
		height: 35px;
	}
	
	/*-----------------------------------------------------*/
	/* Individual																					 */
	
	#fb_social_scale {
		width: 35px;
		height: 35px;
	}

	#gmail, #facebook, #twitter {
		margin: 0 auto;
		text-align:center;
		background-repeat:no-repeat;
		background-size: 100%;
		width:100%;
		height: 100%;
		z-index:100;
	}

	#gmail 			 {background-image:url('../img/gmail_social.png');}
	#gmail:hover {background-image:url('../img/gmail_social_active.png');}

	#facebook 			{background-image:url('../img/facebook_social.png');}
	#facebook:hover {background-image:url('../img/facebook_social_active.png');}

	#twitter 			 {background-image:url('../img/twitter_social.png');}
	#twitter:hover {background-image:url('../img/twitter_social_active.png');}

	#gmail, #facebook, #twitter {
/*		opacity:.95;
		filter:alpha(opacity=95) !important; /* For IE8 and earlier */
*/	}

	#gmail:hover, #facebook:hover, #twitter:hover {
		opacity:1 !important;
		filter:alpha(opacity=100) !important; /* For IE8 and earlier */
	}

/*-----------------------------------------------------*/
/* top */

.top {
	margin-top:50px;
}

.top h1 {
	font-size: 90px;
	color: #424242;
	font-family: 'Coolvetica', 'Helvetica Neue', sans-serif;
}

.blue {
	color: #0060D5;
}

.red {
	color: #EC0000;
}

.subtext {
	margin-top:20px;
}

.subtext h3 {
	margin-top:7px;
	font-weight: 300;
	color: #5C5C5C;
}

.tagline, .date {
	font-size: 22px;
	font-weight: 400;
	font-family: "Lato";
}

.upenn {
	color: #5C5C5C;
}
.upenn:visited {
  color: #5C5C5C;
}
.upenn:hover {
  color: #06E;
}

.row {
	height:50px;
}

.signup {
	margin-top:40px;
}

.row .date, .image_block {
	display:inline-block;
}

.image_block {
	margin-left:6px;
	background-repeat:no-repeat;
	width:23px;
	height: 25px;
	
	background-image:url('../img/calendar.png');
}

.image_block:hover {
	cursor: pointer;
	background-image:url('../img/calendar_red.png');  
}

.circle {	
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
		
	/*http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html*/
	background-image: -ms-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -moz-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -o-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #B62F2F), color-stop(2, #B67042));
	background-image: linear-gradient(to top left, #B62F2F 0%, #B67042 200%);
	
/*	-webkit-transition: box-shadow 0.2s linear;
  	 -moz-transition: box-shadow 0.2s linear;
  		-ms-transition: box-shadow 0.2s linear;
  		 -o-transition: box-shadow 0.2s linear;
  			  transition: box-shadow 0.2s linear;
*/
}

.circle:hover {
	cursor: pointer;
     -moz-box-shadow: 0px 0px 25px #B62F2F;
  -webkit-box-shadow: 0px 0px 25px #B62F2F;
          box-shadow: 0px 0px 25px #B62F2F;

}

#signup_now {
	padding-top: 80px;
	color:white;
	font-family: "Coolvetica";
	font-weight: 300;
	font-size: 33px;
	letter-spacing:1px
}

.egg {
	cursor: pointer;
	bottom: 10px;
	right: 10px;
	padding: 16px;
	position: fixed;
	background-image:url('../img/egg_light.png');
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

.egg:hover {
	background-image:url('../img/egg.png');
}

#preload {
	display: none;
}

.left {
	opacity:1 !important;
	filter:alpha(opacity=100) !important; /* For IE8 and earlier */
}

.love {
	font-family: 'Handlee', cursive;
	margin-top:100px;
	margin-bottom:20px;
	color: #505050;
}
