@font-face {
	font-family: Coolvetica;
	src: url('coolvetica.ttf'),
	     url('coolvetica.eot');
}

body {
	text-align: center;
	background-image: url(http://www.kerem.co/i/noise.png);
	margin: 0 auto;
}

.top {
	margin-top: 8%;
}

.top h1 {
	font-size: 90px;
	color: #424242;
	font-family: 'Coolvetica', 'Helvetica Neue', sans-serif;
}

.subtext {
	margin-top:30px;
}

.subtext h3 {
	margin-top:9px;
	font-weight: 300;
	color: #5C5C5C;
}

.tagline, .date {
	font-size: 22px;
	font-weight: 400;
	font-family: "Lato";
}

.row {
	height:50px;
}

.signup {
	margin-top:70px;
}

.row .date, .image_block {
	display:inline-block;
}

.image_block {
	margin-left:6px;
	background-repeat:no-repeat;
	width:23px;
	height: 25px;
	
	background-image:url('../img/calendar.png');
}

.image_block:hover {
	cursor: pointer;
	background-image:url('../img/calendar_red.png');
}

.circle {	
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	
	/*http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html*/
	background-image: -ms-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -moz-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -o-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #B62F2F), color-stop(2, #B67042));
	background-image: -webkit-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: linear-gradient(to top left, #B62F2F 0%, #B67042 200%);
}

.circle:hover {
	cursor: pointer;

	background-image: -ms-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: -moz-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: -o-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #424242), color-stop(1, #5E5E5E));
	background-image: -webkit-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: linear-gradient(to top, #424242 0%, #5E5E5E 100%);}

#signup_now {
	padding-top: 80px;
	color:white;
	font-family: "Coolvetica";
	font-weight: 300;
	font-size: 30px;
	letter-spacing:1px
}


.prev-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.heading h2 {
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
}
.heading span {
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #eee;
  border-radius:10px;
  border: 1px solid #000;
}
.sponsors {
  margin-top: 40px;
}
.sponsor {
  display: inline-block;
  padding: 100px;
  font-size: 20pt;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  margin: 10px;
  width: 100px;
  height:50px;
  cursor: pointer;
}
.sponsor:hover {
  background-color: #222;
  color: #eee;
}
.square {
	padding-bottom:90px
}
