#masthead {
  width: 100%;
  height: 600px;
  text-align: center; }

#sign_up {
  position: absolute;
  top: 250px;
  right: 100px; }

.container {
  background-color: white; }

footer {
  height: 100px; }
