@font-face {
	font-family: Coolvetica;
	src: url('coolvetica.ttf'),
	     url('coolvetica.eot');
}

body {
	text-align: center;
	background-image: url(http://www.kerem.co/i/noise.png)
}

.top h1 {
	font-size: 80px;
	color: #424242;
	font-family: 'Coolvetica', 'Helvetica Neue', 'Lato', sans-serif;
}

.tagline {
	margin-top:20px;
}

.top h3 {
	margin-top:7px;
	font-family: 'Lato', 'Helvetica Neue', 'Lato', sans-serif;
	font-weight: 300;
	color: #5C5C5C;
	font-size: 17px;
}

.top {
	margin-top: 40px;
}

.signup {
	margin-top:50px;
}

.circle {
	background-color: #B62F2F;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#signup_now {
	padding-top: 80px;
	color:white;
	font-family: "Lato";
	font-weight: 300;
	font-size: 30px;
}



.prev-container {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}
.heading h2 {
  width:100%;
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
}
.heading span {
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #eee;
  border-radius:10px;
  border: 1px solid #000;
}
