@font-face {
	font-family: Coolvetica;
	src: url('coolvetica.ttf'),
	     url('coolvetica.eot');
}

body {
	text-align: center;
	background-image: url(http://www.kerem.co/i/noise.png);
	max-width: 700px;
	margin: 0 auto;
}

.top {
	margin-top: 4%;
}

.top h1 {
	font-size: 90px;
	color: #424242;
	font-family: 'Coolvetica', 'Helvetica Neue', sans-serif;
}

.subtext {
	margin-top:30px;
}

.subtext h3 {
	margin-top:9px;
	font-weight: 300;
	color: #5C5C5C;
}

.tagline, .date {
	font-size: 22px;
	font-weight: 400;
	font-family: "Lato";
}

.date {
}

.signup {
	margin-top:70px;
}

.circle {	
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	
	/*http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html*/
	background-image: -ms-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -moz-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -o-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #B62F2F), color-stop(2, #B67042));
	background-image: -webkit-linear-gradient(bottom right, #B62F2F 0%, #B67042 200%);
	background-image: linear-gradient(to top left, #B62F2F 0%, #B67042 200%);
}

.circle:hover {
	cursor: pointer;

	background-image: -ms-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: -moz-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: -o-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #424242), color-stop(1, #5E5E5E));
	background-image: -webkit-linear-gradient(bottom, #424242 0%, #5E5E5E 100%);
	background-image: linear-gradient(to top, #424242 0%, #5E5E5E 100%);}

#signup_now {
	padding-top: 80px;
	color:white;
	font-family: "Coolvetica";
	font-weight: 300;
	font-size: 30px;
	letter-spacing:1px
}



.prev-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.heading h2 {
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 20px;
}
.heading span {
  padding: 12px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #eee;
  border-radius:10px;
  border: 1px solid #000;
}
