#masthead
    min-width: 960px
    width: 100%
    height: 600px
    text-align: center


#sign_up
    position: absolute
    top: 250px
    left: 100px


.container
    background-color: white


footer
    height: 100px


.subnav
    width: 100%
    height: 36px
    background-color: #EEE
    border: 1px solid #E5E5E5
    border-radius: 4px


.subnav-fixed
    position: fixed
    top: 0px
    left: 0px
    z-index: 1
