@import "_variables";

body {
}

a {
  color: $primary;
}

a:hover {
  color: darken($primary, 20%);
}

.top-bar, .contain-to-grid {
  background-color: $primary;
}

.top-bar-section {
  ul > li:not(.name) a {
    background-color: $primary;
  }
  ul > li:hover:not(.name) a,
  ul > li.active:not(.name) a,
  ul > li:focus:not(.name) a {
    background-color: darken($primary, 20%);
  }
}

