@import "_variables";

body {
}

a {
  color: $primary;
}

a:hover {
  color: darken($primary, 20%);
}

.top-bar, .contain-to-grid {
  background-color: $primary;
}

.top-bar-section {
  ul,
  ul > li:not(.name) a:not(.button) {
    background-color: $primary;
  }
  ul > li:hover:not(.name) a:not(.button),
  ul > li.active:not(.name) a:not(.button),
  ul > li:focus:not(.name) a:not(.button) {
    background-color: darken($primary, 20%);
  }
}

.button {
  background-color: $primary;
  border-width: 0px;
  border-color: transparent;
  transition: none;
  box-shadow: none;
}

.button:hover {
  background-color: darken($primary, 20%);
}
