#masthead {
  min-width: 960px;
  width: 100%;
  height: 600px; }

#masthead_container {
  position: relative;
  width: 960px;
  margin: 0px auto; }

#sign_up {
  position: absolute;
  top: 125px;
  left: 480px; }

body {
  margin-top: 40px;
  > .container {
    background-color: white; } }

footer {
  margin-top: 100px;
  height: 100px; }

.subnav {
  width: 100%;
  height: 36px; }

.subnav-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1; }

