.sponsor {
  text-align: center;
  display: inline-block;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  padding: 10px; }
  .sponsor.ipo {
    width: 350px; }
  .sponsor.mezzanine {
    width: 250px; }
  .sponsor.series-a {
    width: 150px; }
  .sponsor.seed {
    width: 100px; }
