ul#sponsors li > div {
  height: 50px; }

@media only screen and (min-width: 48em) {
  #masthead-description {
    margin-top: -340px;
    background-color: rgba(40, 40, 40, 0.9);
    color: #f0f2f2; }
    #masthead-description h1, #masthead-description h3 {
      color: white; }

  ul#sponsors li div {
    height: 75px; } }
@media only screen and (min-width: 80em) {
  #masthead-description {
    margin-top: -420px;
    background-color: rgba(40, 40, 40, 0.9);
    color: #f0f2f2; }
    #masthead-description h1, #masthead-description h3 {
      color: white; }

  ul#sponsors li > div {
    height: 100px; } }
#masthead-description h1, #masthead-description h3 {
  font-weight: normal;
  margin: 0;
  padding: 0; }
#masthead-description h1 {
  margin-top: 10px;
  font-size: 34pt; }
#masthead-description h3 {
  margin-top: 10px;
  margin-bottom: 20px; }
#masthead-description p {
  margin: 0;
  padding: 0; }

.row:first-child {
  padding-top: 10px; }

#footer {
  padding-top: 18px;
  border-top: 1px solid #eee; }
  #footer li {
    list-style: none;
    display: inline;
    border-right: 1px solid #e1e1e1;
    padding: 0 10px;
    color: #969696; }
  #footer li:first-child {
    margin-left: 0; }
  #footer li:last-child {
    padding-right: 0;
    border-right: none; }

#rules li {
  margin-bottom: 10px; }

#history .row {
  padding-top: 15px;
  padding-bottom: 15px; }
