@import "_variables";

// wrap in media query
#masthead-description {
  h1, h3 {
    color: $secondary;
  }
  color: #fff;
  margin-top: -420px;
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 10px;
}
