#masthead-description {
  color: #fff;
  margin-top: -420px;
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 10px; }
  #masthead-description h1, #masthead-description h3 {
    color: #c7e68a; }
