<section id="background">
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span5">
            <h1>A little background.</h1>
            <p>PennApps is run by a team of five University of Pennsylvania undergraduates: Pulak Mittal, Amalia Hawkins, Ayaka Nonaka, Jonathan Leung, and Trisha Kothari. With support from Penn's Ware House, our amazing sponsors, and many enthusiastic classmates, we handle the organization and running of the hackathon. This is a hackathon for university students, by university students-- a trend we hope to see spread to other schools and communities.</p>
        </div>
        <div class="span7">
            <img src="https://lh5.googleusercontent.com/-sSScVZ7PnWM/TnQ-T-BFRtI/AAAAAAAAAAc/rgZhVag0uBs/s720/_MG_2109.JPG"/>
        </div>
    </div>
</section>
