<div id="footer-nav" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills">
                <li><a href="about.html">About</a></li>
                <li><a href="schedule.html">Schedule</a></li>
                <li><a href="venue.html">Venue</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="history.html">Past Competitions</a></li>
                <li><a href="press.html">Press</a></li>
                <li><a href="rules.html">Rules</a></li>
                <li><a href="http://pennapps.com/sponsorship.pdf">Sponsorship</a></li>
            </ul>
        </div>
    </div>
</div>
