<section id="masthead">
    <div id="masthead_container">
        <div id="sign_up">
            <h1>Eat. Sleep. Code.</h1>
            <h2>PennApps is a 48-hour hackathon (app development competition) at the University of Pennsylvania where the top student engineers, designers, and entrepreneurs from universities all over the US come together to showcase technical achievements and compete for cash prizes.</h2>
            <h3><u><a href="http://www.google.com/calendar/event?action=TEMPLATE&text=PennApps%20Fall%202012&dates=20120914T230000Z/20120916T220000Z&details=Awesome%20Hackathon!%20http%3A%2F%2F2012f.pennapps.com%2F&location=The%20Quad%20-%20University%20of%20Pennsylvania&trp=true&sprop=http%3A%2F%2Fpennapps.com&sprop=name:PennApps">September 14-16</a></u> @ The University of Pennsylvania</h3>
            {% include "components/sign_up_button.html" %}
            <h4>Need a ride? <a href="venue.html">We'll cover your fare.</a></h4>
        </div>
    </div>
</section>
