<div class='large-12 columns'>
  <img src='img/masthead.jpg' id='masthead-image'>
  <div class='row'>
    <div class='large-6 large-offset-6 columns' id='masthead-description'>
      <h1>Eat. <strike>Sleep.</strike> Code.</h1>
      <p class='hide-for-medium'>PennApps is a 48-hour hackathon at the University of Pennsylvania where the top student engineers, designers, and entrepreneurs from universities all over the world come together to showcase technical achievements and compete for prizes. PennApps Spring 2013 was over the January 18-20th weekend. See the <a href="http://2013s.pennapps.com/prizes">previous winners here</a>.</p>
      <h3> PennApps Fall 2013 will be held over the September 6-8th weekend.</h3>
      <a class='expand button' href="http://pennapps.com/sponsorship.pdf" target="_blank">Sponsor PennApps!</a>
    </div>
  </div>
</div>
