<div class='large-12 columns'>
  <img src='img/masthead.jpg' id='masthead-image'>
  <div class='row'>
    <div class='large-6 large-offset-6 columns' id='masthead-description'>
      <h1>Eat. <strike>Sleep.</strike> Code.</h1>
      <p class='hide-for-medium'>PennApps is a 48-hour <a href="en.wikipedia.org/wiki/Hackathon">hackathon</a> at the University of Pennsylvania where the top student engineers, designers, and entrepreneurs from universities all over the world come together to showcase technical achievements and compete for prizes. PennApps Spring 2013 was over the January 18-20th weekend. See more info from the <a href="history.html">previous PennApps here</a>.</p>
      <h3> PennApps Fall 2013 will be held over the September 6-8th weekend.</h3>
      <a class='expand button cta' href="http://pennapps.com/sponsorship.pdf" target="_blank">Sponsor PennApps!</a>
      <h5><a href="http://eepurl.com/rzZAL" target="_blank">Interested in updates? Sign up for our mailing list!</a></h5>
    </div>
  </div>
</div>
