<section id="press">
    <div class="page-header">
        <h1>Press</h1>
    </div>
    <div class="row">
        <div class="span4">
            <h3>Inquiries</h3>
            <p>We want to help you tell your story. Press is encouraged to reach out to us with questions and inquiries by emailing us.</p>
        </div>
        <div class="span4">
            <h3>Resources</h3>
            <ul>
                <li><a href="img/press/logo.jpeg">Logo</a></li>
                <li><a href="img/press/thumbnail.jpeg">Thumbnail</a></li>
                <li><a href="https://picasaweb.google.com/111309854435564170233">Photos</a></li>
            </ul>
        </div>
    </div>
</section>
