<div class='row'>
  <div class='large-12 columns'>
    <div class="page-header">
      <h1>Press</h1>
    </div>
  </div>
</div>
<div class='row'>
  <div class="small-6 columns">
    <h3>Inquiries</h3>
    <p>We want to help you tell your story. Press is encouraged to reach out to us with questions and inquiries by <a href="mailto:contact@pennapps.com">emailing us</a>.</p>
  </div>
  <div class="small-6 columns">
    <h3>Resources</h3>
    <ul>
      <li><a href="img/press/thumbnail.png">Thumbnail</a></li>
      <li><a href="http://facebook.com/pennapps/photos">Photos</a></li>
    </ul>
  </div>
</div>
