<section id="prizes">
    <div class="page-header">
        <h1>Prizes</h1>
    </div>
    <div class="row">
        <div class="span3 overview">
            <h3>Get ready to impress</h3>
            <p>With $7000 + awesome trips in prizes for the top 3 teams, and over $5000 in other prizes, you have a lot to hack for. It's time to get serious.</p>
        </div>
        <div class="span9 details">
            <div class="row">
                <div class="span3">
                    <h2>1st Place</h2>
                    <h1>$4000</h1>
                    <h4>+ a trip to Google NYC to demo your hack, entry into the Facebook <a href="http://techcrunch.com/2011/12/04/college-hackathon/">college hackathon finals</a>, and automatic entry into <a href="http://www.greylocku.com/">Greylock Hackfest</a> 2 </h4>
                </div>
                <div class="span3">
                    <h2>2nd Place</h2>
                    <h1>$2000</h1>
                </div>
                <div class="span3">
                    <h2>3rd Place</h2>
                    <h1>$1000</h1>
                </div>
            </div>
        </div>
    </div>
</section>
