<section id="schedule">
    <div class="page-header">
        <h1>Schedule <small>September 14-16 2012</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <h3 class="">Friday</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>What</th>
                </thead>
                <tbody>
                    <tr>
                        <td>6pm</td><td>Kickoff + API Demos</td>
                    </tr>
                    <tr>
                        <td>8pm</td><td>Dinner</td>
                    </tr>
                    <tr>
                        <td>10pm</td><td>Late Night Snack</td>
                    </tr>
                    <tr>
                        <td>12am</td><td>Raffles Begin + Midnight Snack</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h3 class="">Saturday</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>What</th>
                </thead>
                <tbody>
                    <tr>
                        <td>3am</td><td>Early Morning Munchies</td>
                    </tr>
                    <tr>
                        <td>7am</td><td>Early Bird Special: Coffee + Breakfast</td>
                    </tr>
                    <tr>
                        <td>10am</td><td>Late Breakfast for Late Risers</td>
                    </tr>
                    <tr>
                        <td>1pm</td><td>Lunch</td>
                    </tr>
                    <tr>
                        <td>5pm</td><td>Afternoon Snack</td>
                    </tr>
                    <tr>
                        <td>8pm</td><td>Dinners</td>
                    </tr>
                    <tr>
                        <td>12am</td><td>Raffles Begin + Midnight Snack</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h3 class="">Sunday</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>What</th>
                </thead>
                <tbody>
                    <tr>
                        <td>3am</td><td>Early Morning Munchies</td>
                    </tr>
                    <tr>
                        <td>7am</td><td>Early Bird Special: Coffee + Breakfast</td>
                    </tr>
                    <tr>
                        <td>10am</td><td>Late Breakfast for Late Risers</td>
                    </tr>
                    <tr>
                        <td>12pm</td><td>Hacking Stops + Lunch</td>
                    </tr>
                    <tr>
                        <td>2pm</td><td>Demos Begin</td>
                    </tr>
                    <tr>
                        <td>4pm</td><td>Judging + Awards</td>
                    </tr>
                    <tr>
                        <td>5pm</td><td>Go Home + Sleep</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
