<section id="venue">
    <div class="page-header">
        <h1>Venue</h1>
    </div>
    <div class="row">
        <div class="span6">
            <h2>Welcome to the Quad</h2>
            <p>We're expecting the biggest turnout yet for the upcoming hackathon, so we're upgrade the venue. This time we're hosting the event in <strong>The Quad</strong>.</p>
            <p>The Quadrangle consists of three College Houses: Fisher Hassenfeld, Riepe, and Ware, each of which are made up of several smaller dormitories. Built in the 1890s, the Quad was inspired by the English medieval structures and intimate courtyards of Oxford and Cambridge. It boasts two impressive entrance ways known as Lower Quad Gate and Upper Quad Gate. Today the Quad primarily houses freshman.</p>
        </div>
        <div class="span6">
            <img src="http://upload.wikimedia.org/wikipedia/commons/6/69/Penn_campus_2.jpg" alt="The Quad"</img>
        </div>
    </div>
</section>
