<section id="venue">
    <div class="page-header">
        <h1>Venue</h1>
    </div>
    <div class="row">
        <div class="span6">
            <h2>Welcome to the Quad</h2>
            <p>We're expecting the biggest turnout yet for the upcoming hackathon, so we're upgrade the venue. This time we're hosting the event in <strong>The Quad</strong>.</p>
            <p>The Quadrangle consists of three College Houses: Fisher Hassenfeld, Riepe, and Ware, each of which are made up of several smaller dormitories. Built in the 1890s, the Quad was inspired by the English medieval structures and intimate courtyards of Oxford and Cambridge. It boasts two impressive entrance ways known as Lower Quad Gate and Upper Quad Gate. Today the Quad primarily houses freshman.</p>
        </div>
        <div class="span6">
            <img src="http://upload.wikimedia.org/wikipedia/commons/6/69/Penn_campus_2.jpg" alt="The Quad"</img>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="span6">
            <h2>But first, the Hall of Flags</h2>
            <p>Hacking itself will take place in the quad, but to ensure enough space for the kickoff (Friday evening) and demo sessions (Sunday afternoon), those will be held in Houston Hall's largest room, the Hall of Flags. </p>
            <p>Houston Hall is a short <a href="http://goo.gl/maps/plGLq">4 minute walk</a> from the Quad. The Hall of Flags, with its main room and balcony, can support up to 300 people and supports at least 2 bars of cellular reception, setting a PennApps record for cell phone signal quality. </p>
        </div>
        <div class="span6">
            <img src="http://www.vpul.upenn.edu/perelmanquad/images/SpacesImages/HallOfFlags/zooms/flags002.jpg" alt="Hall of Flags" height="250"</img>
        </div>
    </div>
</section>
