<section id="venue">
    <div class="page-header">
        <h1>Venue</h1>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Need a ride?</h2>
            <h3>We got you covered</h3>
            <p>{{ lipsum(2) }}</p>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#boston" data-toggle="tab">Boston</a></li>
                    <li><a href="#pittsburgh" data-toggle="tab">Pittsburgh</a></li>
                    <li><a href="#new-york-city" data-toggle="tab">New York City</a></li>
                </ul>
                <h2>Getting here</h2>
                <div class="tab-content">
                    <div class="tab-pane active" id="boston">
                        <ul>
                            <li>The first, and most common, option is to travel by bus. Both Bolt Bus and Megabus have regular buses between NYC and Philly. The trip is about two hours and many buses offer free wi-fi.</li>
                            <li>You may also choose to use Amtrak, which will cost anywhere from $30 to $200 dollars one way. The Acela Express, while on the high end of that price range, does provide free wi-fi for the duration of your trip. Prices can increase by up to $100 as the date nears, so we suggest you buy tickets in advance. The trip takes an hour and a half.</li>
                            <li>Another option is to take NJ Transit to Trenton, and then transfer to SEPTA to Philadelphia on the Trenton Line. This takes about three hours and costs about $30 each way, depending whether you're traveling peak/off-peak.</li>
                        </ul>
                        <p><strong>The Lowdown:</strong> Megabus is cost effective and our top recommendation. Amtrak may cost ten times more, and you will only save an hour of travel time. If you like a walk on the wild side, or don't know exactly when on Friday you're going to leave, transferring from NJ Transit to SEPTA is more time-flexible and may fit your needs.</p>
                    </div>
                    <div class="tab-pane" id="pittsburgh">
                        <ul>
                            <li>By bus, the trip is five to six hours. Both Megabus and Greyhound tickets are available, and cost approximately $40 dollars each way.</li>
                            <li>If you don't mind springing for air fare, plane tickets will cost approximately $165 per passenger round trip. The flight is a little over an hour. We suggest using Hipmunk or a similar service to compare flights.</li>
                        </ul>
                        <p><strong>The Lowdown:</strong> The choice is yours: pay over $100 and cut your travel time by 10 hours, or cut costs by taking the bus.</li>
                    </div>
                    <div class="tab-pane" id="new-york-city">
                        <ul>
                            <li>By bus, the trip is six to seven hours. Many buses in the Megabus fleet have free wi-fi. Additionally, Greyhound offers trips to Philadelphia in the $30 price range.</li>
                            <li>If the idea of spending that much time in a bus doesn't suit you, you can spring for Amtrak, which ranges from $50 to over $150 each way. The Acela Express offers free wi-fi for the duration of the trip, and can cost as little as the standard Northeast Regional train if you buy in advance. Either way, ticket prices can increase by $100 as the date nears, so if you choose Amtrak, buy early. The trip takes about five to six hours.</li>
                            <li>Another option is to buy a plane ticket - again, buy early, and you'll cut costs. Tickets can be had for about $100 round trip, and the flight only takes an hour. We suggest using Hipmunk or a similar service to compare flights.</li>
                        </ul>
                        <p><strong>The Lowdown:</strong> It really depends on whether you would rather pay an extra $40-$100 dollars or sit on a bus for an additional 12 hours.</p>
                    </div>
                    <div class="alert alert-info">
                        <strong>Coming by bus?</strong> We'll reimburse your bus tickets
                    </div>
                </div>
            </div>
        </div>
        <div class="span4 location">
            <h1 class="highlight small">Philadelphia</h1>
            <div class="map-wrapper">
                <div class="map">
                    <a href="http://maps.google.com/?q=220 S. 33rd St Philadelphia PA 19104">
                        <img src="http://maps.google.com/maps/api/staticmap?center=39.951773,-75.190195&zoom=15&markers=220+S. 33rd Street  Philadelphia, PA 19104$&size=180x180&sensor=false" alt="http://maps.google.com/maps/api/staticmap?center=39.951773,-75.190195&zoom=13&markers=220+S. 33rd Street Philadelphia, PA 19104&size=180x180&sensor=TRUE_OR_FALSE">
                    </a>
                </div>
            </div>
            <address>
                <strong>University of Pennsylvania</strong>
                <br>
                <strong>Towne Building</strong>
                <br>
                220 S. 33rd Street
                <br>
                Philadelphia, PA 19104
            </address>
        </div>
    </div>
</section>
