<section id="background">
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span5">
            <h1>A brief history.</h1>
            <p>This upcoming Hackathon will be the third PennApps Hackathon. In the past (2009, 2010, Spring 2011) PennApps has seen a tremendous response from the students and the tech community. PennApps Mobile, held in January 2011, had nearly 100 attendees and 23 teams presenting demos at the end. Technically Philly, amongst others, has covered the event. We couldn't have done it without our fantastic sponsors at our last two hackathons!</p>
        </div>
        <div class="span7">
            <img src="https://lh5.googleusercontent.com/-sSScVZ7PnWM/TnQ-T-BFRtI/AAAAAAAAAAc/rgZhVag0uBs/s720/_MG_2109.JPG"/>
        </div>
    </div>
</section>
