<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PennApps</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta property="og:title" content="PennApps" />
        <meta property="og:description" content="PennApps is a 48-hour hackathon @ The University of Pennsylvania | Fri Sept 14 - Sun Sept 16th"/>
        <meta property="og:image" content="thumbnail_image" />

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Handlee|Habibi' rel='stylesheet' type='text/css'>
        {% block css %}
        <link rel="stylesheet" href="lib/css/html5_boiler.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="lib/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/scaffolding.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/scaffolding.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/pretty.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/sponsors.css" type="text/css" media="screen" title="no title" charset="utf-8">
        {% endblock %}
    </head>
    <body data-spy="scroll" data-target="#global-nav">
        <header>
        {% block header %}
        {% endblock %}
        </header>
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        <footer>
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
        </footer>
        <div id="global-nav" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="index.html">
                        {% include "components/brand.html" %}
                    </a>
                    <ul class="nav nav-pills pull-left">
                        {% block nav %}
                        {% endblock %}
                    </ul>
                    <ul class="nav nav-pills pull-right signup">
                        <li>{% include "components/sign_up_button_inverse.html" %}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% block js %}
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
        <script src="js/jquery_transit.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        <script src="lib/js/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/subnav.js" type="text/javascript"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33300151-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
        {% endblock %}
    </body>
</html>
