{% extends "base.html" %}

{% block container %}
<section id="faq">
    <div class="page-header">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="row">
        <div class="span12">
            <h3>What's a hackathon?</h3>
            <p>A hackathon is when people who are excited about programming come together for a weekend and collaborate to build cool things. Entrepreneurs, designers, and developers work in teams to create hacks and apps for web or mobile platforms - in our case, these creators are university students.</p>
            <h3>Who can participate?</h3>
            <p>PennApps is open to all current undergraduate and graduate students, including freshmen! You don't have to attend the University of Pennsylvania; you don't have to be a computer science major or even an engineering student, though you should have some coding experience. You aren't required to have ever attended a hackathon before: we will have tech talks beforehand so you can ramp up quickly. You can come with a team or come alone - there will be a place for you.</p>
            <h3>Do I have to be a Penn Student?</h3>
            <p>No - in fact, we'd love to have you here no matter where you're from! In fact, if you need assistance figuring out how to get here, shoot us an email and we'll help you coordinate transportation.</p>
            <h3>What if I'm a noob?</h3>
            <p>Don't worry, we're all here to learn something new. There will be plenty of people trying something for the first time, and many people who will be willing to help you out.</p>
            <h3>Do I have to be there the entire time?</h3>
            <p>Nope, you're allowed to get sleep :) However, all your coding and work must be done at the site of the competition.</p>
            <h3>Will there be food?</h3>
            <p>Yes. The only thing you need to worry about is coding; let us take care of the rest. Breakfast, lunch, dinner, snacks, and plenty of drinks (including energy drinks) will be provided throughout the competition at no cost to participants. We will be providing vegetarian options as well. If you have a specific food allergy or other specific need, contact us and we'll try to find a way to make it work for you.</p>
        </div>
    </div>
</section>
{% endblock container %}
