{% extends "base.html" %}

{% block container %}
<section id="history">
    <div class="page-header">
        <h1>Past Competitions</h1>
    </div>
    <p>PennApps has had quite a history-- learn a little more about our past and the road we've taken to get here.</p>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span7">
            <a href="http://2012s.pennapps.com/">
                <img src="http://i.imgur.com/Jrk94.png"/>
            </a>
        </div>
        <div class="span5">
            <h1>PennApps 2012 Spring</h1>
            <p>Sponsored by Venmo, Coursekit (now Lore), Tumblr, Yahoo, and nineteen other companies, PennApps Spring 2012 centered around the theme of simplicity. <a href="http://www.youtube.com/watch?v=m33PqhdDl0M&feature=plcp&context=C38b45d6UDOEgsToPDskIpt5vtYUlhubu8UT-6LMdj">ScratchTable</a> won the grand prize: the team used a contact mike and their coding skills to turn any surface into a DJ turntable. Second place was <a href="http://grassroutes.us/">Grassroutes</a>, a hack that allowed anyone to put a widget on any website, giving users one-click access to their congressional representatives.</p>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span5">
            <h1>PennApps 2011 Fall</h1>
            <p>In Fall 2011, the focus was data. Sponsored by Venmo, Comcast, Twilio, Yahoo, Palantir, Tumblr, Mozilla, and 30 other companies and organizations, we challenged students to choose from a variety of publicly available data sets. Competitors were asked to uniquely and efficiently solve problems through the use of data. 40 teams presented at the demo session, and <a href="http://teams.2011f.pennapps.com/">their hacks</a> were truely innovative.</p>
        </div>
        <div class="span7">
            <a href="http://2011f.pennapps.com/">
                <img src=http://i.imgur.com/0tgpB.png""/>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span7">
            <a href="http://pennapps.com/spring2011/">
                <img src="http://i.imgur.com/8QuQD.png"/>
            </a>
        </div>
        <div class="span5">
            <h1>PennApps 2011 Spring</h1>
            <p>Also known as PennApps mobile, this hackathon centered around the creation of mobile apps. 23 teams pulled together their hacks on platforms including Android, iPhone, Mobile Web, Windows Phone, and through texting.</p>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span5">
            <h1>PennApps 2010 Fall</h1>
            <p>This was the first 48 hour PennApps; though only 10 teams made it through, we think they did an amazing job! One standout app was <a href="http://www.septanow.org/">SEPTA Now</a>, which tracks SEPTA regional trains around the city so users can know exactly where trains are, and if they're running late.</p>
        </div>
        <div class="span7">
            <a href="http://www.pennapps.com/2010/">
                <img src="http://i.imgur.com/5fkns.png"/>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span7">
            <a href="http://www.pennapps.com/2009/">
                <img src="http://i.imgur.com/lUVw7.png"/>
            </a>
        </div>
        <div class="span5">
            <h1>PennApps 2009 Fall</h1>
            <p>Cohosted by Penn's Women in Computer Science (WICS), the very first PennApps spanned a week! (Don't worry, participants were allowed to sleep.) 17 teams participated, and laid the foundation for all PennApps to come.</p>
        </div>
    </div>
</section>
{% endblock %}
