{% extends "base.html" %}

{% block container %}
<section id="history">
    <div class="page-header">
        <h1>Past Competitions</h1>
    </div>
    <p>{{ lipsum(1) }}</p>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span7">
            <a href="#">
                <img src="http://i.imgur.com/Jrk94.png"/>
            </a>
        </div>
        <div class="span5">
            <h1>PennApps 2012 Spring</h1>
            <p>{{ lipsum(1) }}</p>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span5">
            <h1>PennApps 2011 Spring</h1>
            <p>{{ lipsum(1) }}</p>
        </div>
        <div class="span7">
            <a href="#">
                <img src="http://i.imgur.com/8QuQD.png"/>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span7">
            <a href="#">
                <img src=http://i.imgur.com/0tgpB.png""/>
            </a>
        </div>
        <div class="span5">
            <h1>PennApps 2011 Fall</h1>
            <p>{{ lipsum(1) }}</p>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span5">
            <h1>PennApps 2010 Fall</h1>
            <p>{{ lipsum(1) }}</p>
        </div>
        <div class="span7">
            <a href="#">
                <img src="http://i.imgur.com/5fkns.png"/>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span7">
            <a href="#">
                <img src="http://i.imgur.com/lUVw7.png"/>
            </a>
        </div>
        <div class="span5">
            <h1>PennApps 2009 Fall</h1>
            <p>{{ lipsum(1) }}</p>
        </div>
    </div>
</section>
{% endblock %}
