{% extends "base.html" %}

{% block nav %}
<li><a href="#masthead">Sign Up</a></li>
<li><a href="#about">About</a></li>
<li><a href="#">Sponsors</a></li>
<li><a href="#schedule">Schedule</a></li>
{% endblock %}

{% block header %}
{{ super() }}
{% include "social.html" %}
{% include "masthead.html" %}
{% endblock header %}

{% block container %}
{% include "what.html" %}
{% include "description.html" %}
{% include "background.html" %}
{% include "winners.html" %}
{% include "why.html" %}
{% include "sponsors.html" %}
{% include "_schedule.html" %}
{% endblock container %}

{% block js %}
{{ super() }}
<script src="js/subnav.js" type="text/javascript"></script>
{% endblock %}
