<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PennApps</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta property="og:title" content="PennApps" />
        <meta property="og:description" content="PennApps is a 48-hour hackathon @ The University of Pennsylvania | Fri Sept 14 - Sun Sept 16th"/>
        <meta property="og:image" content="thumbnail_image" />

        <link rel="stylesheet" href="css/html5_boiler.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">

        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/sponsors.css" type="text/css" media="screen" title="no title" charset="utf-8">

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Handlee|Habibi' rel='stylesheet' type='text/css'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
        <script src="js/jquery_transit.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="horizontal_bar">
            <div class='icons_row'>
                <a target="_blank" href="https://www.facebook.com/pennapps">
                    <div class="social_scale_row" id="fb_social_scale">
                        <div id="facebook"></div>
                    </div>
                </a>
                <a target="_blank" href="http://twitter.com/pennapps">
                    <div class="social_scale_row">
                        <div id="twitter"></div>
                    </div>
                </a>
                <a target="_blank" href="mailto:contact@pennapps.com?Subject=Hi%21">
                    <div class="social_scale_row">
                        <div id="gmail"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class='icons_column'>
            <a class="end_opacity" target="_blank" href="https://www.facebook.com/pennapps">
                <div class="social_scale_col" id="fb_social_scale">
                    <div id="facebook"></div>
                </div>
            </a>
            <a class="end_opacity" target="_blank" href="http://twitter.com/pennapps">
                <div class="social_scale_col">
                    <div id="twitter"></div>
                </div>
            </a>
            <a class="end_opacity" target="_blank" href="mailto:contact@pennapps.com?Subject=Hi%21">
                <div class="social_scale_col">
                    <div id="gmail"></div>
                </div>
            </a>
        </div>
        <div class="top">
            <h1><span class="blue">penn</span><span class="red">apps</span></h1>
            <div class="subtext">
                <h3 class="tagline">A 48-hour Hackathon <a href="http://www.upenn.edu" target="_blank" class="upenn">@ The University of Pennsylvania</a></h2>
                <div class="row">
                    <h3 class="date">Fri Sept 14 - Sun Sept 16
                        <div style="height:1px; font-size:1px">&nbsp;</div>
                    </h3>
                    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=PennApps%20Fall%202012&dates=20120914T190000Z/20120916T200000Z&details=DESCRIPTION&location=The%20University%20of%20Pennsylvania&trp=true&sprop=http%3A%2F%2Fpennapps.com&sprop=name:PennApps" target="_blank">
                        <div class="image_block">
                        </div>
                    </a>
                </div>
                <!-- http://support.google.com/calendar/bin/answer.py?hl=en&answer=1186917 -->
            </div>
            <div class="signup">
                <div class="circle">
                    <a target="_blank" href="http://launchrock.com/">          
                        <div class="square">
                            <div id="signup_now">Sign Up Now</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="about" class='prev-container'>
            <div class='heading'>
                <h2><span>What is PennApps?</span></h2>
            </div>

            <div class='about'>
                <p><span class='dark'>PennApps is the University of Pennsylvania's 48-hour long hackathon,
                    <br>open to all current students regardless of university or year.</span></p>
                <br>
            </div>

            <div class="video">
                <img id="video_image" src="img/video_gray.png">
                <div id="youtube"></div>
            </div>

            <div class='about'>
                <p>"I think this is my sixteenth or seventeenth [hackathon], 
                <br>and this is definitely the best one yet."
                <br>- Sameem, Rutgers University '13 </p>
                <br>
                <p>First Place:  <span class="dark">$4,000, a trip to Google NYC, and more</span></p>
                <p>Second Place: <span class="dark">$2,000</span></p>
                <p>Third Place:  <span class="dark">$1,000</span></p>
                <p>And over <span class="dark">$5000</span> in additional prizes.</p>
                <br>
                <p>Coming from out of town? We'll reimburse your bus tickets.</p>
                <p>Questions? Check the <a class='dark' href='faq.html'>FAQ</a>.</p>

            </div>
        </div>
        <div id="previous_sponsors" class='prev-container'>
            <div class='heading'>
                <h2><span>Previous Sponsors Include</span></h2>
            </div>
            <div class='sponsors'>
                {% for sponsor in sponsors %}
                <a href="{{ sponsor.href }}">
                <div class="sponsor {{ sponsor.name }}">
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class='prev-container'>
            <div class='heading'>
                <h2><span>Time Machine</span></h2>
            </div>
            <div class="pennapses">
                <script src="js/pennapps.js" type="text/javascript"></script>
            </div>
        </div><!--END PenAppses-->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33300151-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </body>
</html>
