<div id="masthead">
    <h1><a href="#"><span class="blue">penn</span><span class="red">apps</span></a></h1>
    <div class="subtext">
        <h3 class="tagline">A 48-hour Hackathon at The University of Pennsylvania</h2>
        <div class="row">
            <h3 class="date">Fri Sept 14 - Sun Sept 16
                <div style="height:1px; font-size:1px">&nbsp;</div>
            </h3>
            <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=PennApps%20Fall%202012&dates=20120914T190000Z/20120916T200000Z&details=DESCRIPTION&location=The%20University%20of%20Pennsylvania&trp=true&sprop=http%3A%2F%2Fpennapps.com&sprop=name:PennApps" target="_blank">
                <div class="image_block">
                </div>
            </a>
        </div>
        <!-- http://support.google.com/calendar/bin/answer.py?hl=en&answer=1186917 -->
    </div>
    {% include "sign_up_button.html" %}
</div>
