<section id="masthead">
    <div id="masthead_container">
        <div id="sign_up">
            <h1>Eat. Sleep. Code.</h1>
            <h2>PennApps is a 48-hour application development competition at the University of Pennsylvania where the top student engineers, designers, and entrepreneurs come together to showcase technical achievements and compete for cash prizes.</h2>
            <h3>September 14-16 @ The University of Pennsylvania</h3>
            {% include "components/sign_up_button.html" %}
            <h4>Need a ride? <a href="venue.html">We'll cover your fare.</a></h4>
        </div>
    </div>
</section>
