{% extends "base.html" %}

{% block container %}


    <div class="row">
        <div class="large-12 columns">
            <iframe src="https://docs.google.com/forms/d/1Q1OO7R3wqjBnCVXOIrTFdIZxwSLdu5vZCew2g6BGmy0/viewform?embedded=true" height="800" style="overflow:visible" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(function(){
        var w = $('.large-12').width();
        $('iframe').attr('width', w);
        $(window).resize(function(){
            var w = $('.large-12').width();
            $('iframe').attr('width', w);
        })
    })
</script>

{% endblock container %}