{% extends "base.html" %}

{% block container %}
<div class='page-header'>
  <h1>PennApps Fall 2012 Rules</h1>
</div>

<div class='row'>
  <div class='span12'>
    <p>PennApps organizers reserve the right to modify the contest rules for any reason and make judgments on issues not directly address in this document.</p>
    
    <h3>Registration</h3>
    
    <h4>Eligibility</h4>
    
    <p>Except as noted below, PennApps 2012 is open to any full-time or part-time University student who will be at the contest location during the contest. Each contestant must register on time. Registration is first come, first serve and will be limited by space in the competition.</p>
    
    <p>Participation in PennApps 2012 is closed to immediate family of contest judges or any individual actively employed by a sponsoring company at the time of the competition.</p>
    
    <h4>Registration Fee</h4>
    
    <p>Registration is free.</p>
    
    <h4>Team Formation</h4>
    
    <p>To participate in the weekend hackathon, contestants may work alone or in groups of up to 4 people. By 11:59PM on Friday, September 14th, each group must submit a team name and a list of members with one person designated the captain.  A team becomes eligible for hackathon prizes once PennApps 2012 organizers confirm its registration.</p>
    
    <h3>Hackathon</h3>
    
    <p>PennApps 2012 will officially begin Friday, September 14th at 8:00 PM. We will provide tables, power strips, and food.
    To be eligible for prizes, your submission must:</p>
    
    <ul>
      <li>be created by team members entirely between the Friday kickoff and the Sunday deadline</li>
      <li>be created by a team with at most 4 members</li>
      <li>have been entirely created within the PennApps 2012 location</li>
      <li>External resources: Participants may use external resources (online tutorials, reference books, feedback from friends, etc.) but all documents, code, graphics and other submitted material must be created directly by team members. For example, a non-team member may give a verbal description of how to create a login system, but the actual typing (coding) of said login system must be done solely by members of the team in order to eligible for submission. (Exceptions to this rule are noted in rule 5.)</li>
      <li>Third party libraries and APIs: Third party libraries and APIs are permitted if they may be used freely and are publicly available/accessible by all teams. Generally, we will allow third party libraries that are completely free to use, for example those with an LGPL license. If you are unsure whether using a particular library or framework is allowed, please verify with PennApps organizers. We reserve the right to reject the use of a third-party library if it would create an unfair advantage over other teams.</li>
    </ul>
    
    <h4>Submission</h4>
    
    <p>Each team is permitted one submission that must be received by the deadline. The submission process will be delimited at the event.</p>
    
    <p>The following items compose a complete submission:</p>
    
    <ul>
      <li>Team name and members, including contact information (emails).</li>
      <li>Application name and some description of its goal and purpose.</li>
      <li>URL to live demo of the application (if applicable).</li>
      <li>List of third-party plugins, libraries, etc. used in your application.</li>
      <li>ZIP of your application's source code.</li>
    </ul>
    
    <p>By submitting a project, you grant the PennApps team and organizers the unrestricted right to use your submission material, at no cost, for promotional purposes of future PennApps events.</p>

    <h3>Demos</h3>

    <p>Following submission, we will open the floor so judges (and public) can walk among the teams for Q and A and examine the created applications. Team members should prepare for their demo. Votes will be collected online and restricted to university students.</p>

    <p>Each team will give a five-minute live demonstration of their application's key features to the audience. The use of slides is not encouraged. The demonstrated code should accurately reflect the state of the code submitted. </p>

    <p>Judges will convene at the end of the demonstrations.  </p>

    <h3>Judging and Prizes</h3>

    <p>Judging will be done by 5 judges.</p>

    <p>We will not judge code quality or style. However, we encourage clear and readable code to enable your team to work more efficiently.</p>

    <p>Judges have discretion to select the final winners, using average scores of submissions as a baseline. Sponsor prizes will be awarded based on criteria of the sponsor's choosing. Teams awarded a main prize are not excluded from the sponsor prizes.</p>

    <h4>Prizes</h4>

    <p>All awards are subject to University policies regarding cash and cash-equivalent prizes, including applicable taxation: <a href='http://www.finance.upenn.edu/comptroller/tax/prizes.shtml'>http://www.finance.upenn.edu/comptroller/tax/prizes.shtml</a></p>

    <p>In order to be eligible to receive a prize, teams must have submitted to PennApps organizers a valid submission in full.</p>

    <h4>Contact Information</h4>

    <p>Contact <a href='mailto:contact@pennapps.com'>contact@pennapps.com</a> for any clarifications regarding the rules above.</p>

  </div>
</div>
{% endblock container %}
