{% extends "base.html" %}
{% block container %}
<section id="logistics">
    <div class="page-header">
        <h1>Schedule <small>September 14-16 2012</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <h3 class="">Friday</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>What</th>
                </thead>
                <tbody>
                    <tr>
                        <td>6pm</td><td>Kickoff</td>
                    </tr>
                    <tr>
                        <td>8pm</td><td>Dumplings</td>
                    </tr>
                    <tr>
                        <td>10pm</td><td>Popsicles</td>
                    </tr>
                    <tr>
                        <td>12am</td><td>Raffles, Insomnia Cookies</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h3 class="">Saturday</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>What</th>
                </thead>
                <tbody>
                    <tr>
                        <td>3am</td><td>Jimmy John's</td>
                    </tr>
                    <tr>
                        <td>7am</td><td>Coffee + Breakfast</td>
                    </tr>
                    <tr>
                        <td>10am</td><td>Dunkin Donuts</td>
                    </tr>
                    <tr>
                        <td>1pm</td><td>Tacos</td>
                    </tr>
                    <tr>
                        <td>5pm</td><td>Bubble Tea + Fruit</td>
                    </tr>
                    <tr>
                        <td>8pm</td><td>Hummus</td>
                    </tr>
                    <tr>
                        <td>12am</td><td>Begin Raffles, Fruit + Pretzels</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h3 class="">Sunday</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Time</th>
                    <th>What</th>
                </thead>
                <tbody>
                    <tr>
                        <td>3am</td><td>Cheese steaks</td>
                    </tr>
                    <tr>
                        <td>7am</td><td>Coffee + Breakfast</td>
                    </tr>
                    <tr>
                        <td>10am</td><td>Dunkin Donuts</td>
                    </tr>
                    <tr>
                        <td>12pm</td><td>Stop hacking!, Gia</td>
                    </tr>
                    <tr>
                        <td>2pm</td><td>Demos</td>
                    </tr>
                    <tr>
                        <td>4pm</td><td>Awards</td>
                    </tr>
                    <tr>
                        <td>5pm</td><td>Sleep</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
