{% extends "base.html" %}

{% block container %}
<section id="sponorship">
    <div class="page-header">
        <h1>Sponsorship</h1>
    </div>
    <div class="row">
        <div class="span5">
            <h2>Become a sponsor</h2>
            <p>Looking to sponsor PennApps? Shoot us an email at 2012f@pennapps.com.</p>
        </div>
        <div class="span7">
            <img src="https://lh6.googleusercontent.com/-Ji1dDO_htCA/UBjAiQMsZ1I/AAAAAAAAALE/vriENB5fXTI/s720/_MG_5972.CR2.jpg"></img>
        </div>
    </div>
</section>
{% endblock %}
