<section id="what">
    <div class="page-header">
        <h1>PennApps is back <small>One weekend. 48 hours.</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <img alt="audiotorium of people" src="https://lh4.googleusercontent.com/-hCnTB9W54yU/TnQ-a0HQYFI/AAAAAAAAABY/NibIArTvfLo/s640/_MG_2248.JPG">
            <h2>We're huge-- and growing</h2>
            <p>PennApps is the largest student-run hackathon in the country. Last Spring we saw over 40 teams present their hacks, with over 180 students coming from 10 schools.</p>
        </div>
        <div class="span4">
            <img alt="sleeping people" src="https://lh6.googleusercontent.com/-onIfuhZe0rE/TnVPfoxGD-I/AAAAAAAAAEM/qR7Ec4tdL-c/s640/_MG_2292.JPG">
            <h2>48 hours of hacking</h2>
            <p>The only thing you'll need to worry about when you get here is hacking. We'll take care of the rest. Breakfast, lunch, dinner, snacks, energy drinks, a place to sleep- all gratis.</p>
        </div>
        <div class="span4">
            <img alt="computer" src="https://lh4.googleusercontent.com/-rgWUR5b_UNc/TnVPuTZJmoI/AAAAAAAAAF4/SPRvkJZ74_s/s640/_MG_2362.JPG">
            <h2>Open to all students</h2>
            <p>PennApps is open to all current undergraduate and graduate students. You don't have to attend Penn and you don't have to be a computer science major. Just bring a laptop and you're good to go.</p>
        </div>
    </div>
</section>
