<div id="about" class='prev-container'>
    <div class='heading'>
        <h2><span>What is PennApps?</span></h2>
    </div>

    <div class='about'>
        <p><span class='dark'>PennApps is the University of Pennsylvania's 48-hour long hackathon,
            <br>open to all current students regardless of university or year.</span></p>
        <br>
    </div>

    <div class="video">
        <img id="video_image" src="img/video_gray.png">
        <div id="youtube"></div>
    </div>

    <div class='about'>
        <p>"I think this is my sixteenth or seventeenth [hackathon], 
        <br>and this is definitely the best one yet."
        <br>- Sameem, Rutgers University '13 </p>
        <br>
        <p>First Place:  <span class="dark">$4,000, a trip to Google NYC, and more</span></p>
        <p>Second Place: <span class="dark">$2,000</span></p>
        <p>Third Place:  <span class="dark">$1,000</span></p>
        <p>And over <span class="dark">$5000</span> in additional prizes.</p>
        <br>
        <p>Coming from out of town? We'll reimburse your bus tickets.</p>
        <p>Questions? Check the <a class='dark' href='faq.html'>FAQ</a>.</p>

    </div>
</div>
