<section id="what">
    <div class="page-header">
        <h1>PennApps is back <small>One weekend. 48 hours.</small></h1>
    </div>
    <div class="row">
        <div class="span6">
            <h3>The premiere hackathon</h3>
            <p>A hackathon is when people who are excited about programming come together for a weekend and collaborate to build cool things. Entrepreneurs, designers, and developers work in teams to create hacks and apps for web or mobile platforms - in our case, these creators are university students.</p>
        </div>
        <div class="span6">
            <h3>Open to all students</h3>
            <p>PennApps is open to all current undergraduate and graduate students. You don't have to attend Penn and you don't have to be a computer science major. Just bring a laptop and you're good to go.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>We're huge-- and growing</h3>
            <p>PennApps is the biggest student-run hackathon in the country. Last Spring we saw over 40 teams present their hacks, with over 180 students coming from 10 schools.</p>
        </div>
        <div class="span6">
            <h3>48 hours of hacking</h3>
            <p>The only thing you need to worry about is coding- We'll take care of the rest. Breakfast, lunch, dinner, snacks, and energy drinks will be provided throughout the competition at no cost to participants.</p>
        </div>
    </div>
</section>
