<section id="reasons">
    <div class="page-header">
        <h1>Eat. <span class="not">Sleep.</span> Code. <small>Need a reason to come to PennApps? Look no futher.</small></h1>
    </div>
    <div class="row">
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_043_group.png">
            <h2>Huge</h2>
            <p>Over 40 teams and 180 participants from school all across the east coast.<p>
        </div>
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_275_fast_food.png">
            <h2>Food</h2>
            <p>We spend more money on food than prizes.</p>
        </div>
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_289_podium.png">
            <h2>Win awesome prizes</h2>
            <p>Over $12,000 in prizes. $7000 total to top three hacks, and $5000 in sponsor prizes.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_209_cart_in.png">
            <h2>Swag</h2>
            <p>Including, but not limited to, free T-shirt, water bottle, and stickers. Plus, raffles every hour from 12am to 6am.</p>
        </div>
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_294_coffe_cup.png">
            <h2>Drinks</h2>
            <p>Unlimited caffeine. Coffee, red bull, monster-- Sleep is a thing of the past.</p>
        </div>
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_031_bus.png">
            <h2>Bus-fare included</h2>
            <p>Need a ride? We got you covered.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_081_refresh.png">
            <h2>Traditions</h2>
            <p>Midnight right, midnight cheesesteaks, and the return of the nerf guns.</p>
        </div>
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_280_settings.png">
            <h2>Build</h2>
            <p>Build something awesome.</p>
        </div>
        <div class="span4">
            <img class="bs-icon" src="img/glyphicons/glyphicons_324_tie.png">
            <h2>Impress</h2>
            <p>Sponsors need interns.</p>
        </div>
    </div>
</section>
